nav ul li {
	display: inline;
	list-style-type: none;
}
nav a{
	text-decoration: none
}
input:submit {
 width: 150px
}
.warning {
	color: red
}
.pass {
	color: green
}
.form-list {
	list-style-type: none;
	text-align: left;
}
.form-list li {
	margin-top: 10px;
}
.form-list label {
	width: 150px;
	display: inline-block;
	text-align: left;
}
.form-list input {
	display: inline-block;
}
.form-list input:hover {
	border: solid;
	border-color: #9FF;
}
.form-list input[type="submit"]:disabled {
	height: 30px;
	width: 70px;
	color:#93D5FF;;;
	border-color: #269CE9;
	background: #269CE9;
}
.form-list input[type="submit"] {
	height: 30px;
	width: 70px;
	color: white;
	background-color: #269CE9;
	border-color: #269CE9;
}
.content {
	width: auto;
	min-width: 720px;
}
