<ul>
    <li><a href="#">home</a></li>
    <li><a href="#">other</a></li>
    <% if(user_name){ %>
        <li><a href="/account/login">login</a></li>
    <% }else{ %>
        <li>Hello <%= user_name%></li>
    <% }%>
</ul>