<ul>
    <li><a href="/">home</a></li>
    <li><a href="/restaurant/search/form">search</a></li>
    <% if(!user_name){ %>
        <li><a href="/account/login">login</a></li>
    <% }else{ %>
        <li>Hello <%= user_name%> <a href="/account/logout">log out</a></li>
    <% }%>
</ul>