<% if(pages.length){ %> 
    <span>page</span> 
<% } %>
<%for(i=1;i<=pages.length;i++){%>
    <% if(i==curPage){ %>
        <b><%= i%></b>
    <% }else{ %>
        <a href="<%= pages[i]['link']%>"><%= i%></a>
    <% } %>
<%}%>