<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>create account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>

<body>
    <form id="user-form" action="/account/create" method="post">
        <ul class="form-list">
            <li><label>Id</label><input type="text" name="userid" /><span name="warning" class="warning"></span></li>
            <li><label>User name</label><input type="text" name="name" /><span name="warning" class="warning"></span></li>
            <li><label>password</label><input type="password" name="password" /><span name="warning" class="warning"></span></li>
            <li><label>confrim password</label><input type="password" name="confirm" /><span name="warning" class="warning"></span></li>
            <li><input type="submit" disabled="true" value="submit"></li>
        </ul>
    </form>
</body>
<script>
    var inputBoxes = document.getElementsByTagName('input')
    var warnings = document.getElementsByTagName('span')
    var interval = setInterval(enableButton, 250)
    var timeout
    inputBoxes[0].oninput = checkId
    for (var i = 1; i < inputBoxes.length - 1; i++) {
        inputBoxes[i].oninput = checkPass
    }

    function checkPass() {
        checkNull()
        checkPassword()
        interval = setInterval(enableButton, 250);
    }
    function checkNull() {
        for (i = 0; i < 2; i++) {
            if (this == inputBoxes[i]) break
            if (!inputBoxes[i].value) {
                warnings[i].className = 'warning'
                warnings[i].innerHTML = 'It should not be null'
            } else if (i == 1) {
                warnings[i].className = 'pass'
                warnings[i].innerHTML = 'pass'
            }
        }
    }
    function checkPassword() {
        password = inputBoxes[2].value
        confirm = inputBoxes[3].value
        if (!password && !confirm) {
            warnings[2].innerHTML = ''
            warnings[3].innerHTML = ''
        } else if (password === confirm) {
            for (var i = 2; i < 4; i++) {
                warnings[i].className = 'pass'
                warnings[i].innerHTML = 'pass'
            }
        } else {
            warnings[2].innerHTML = ''
            warnings[3].className = 'warning'
            warnings[3].innerHTML = 'It should be the same with passward above!'
        }
    }
    function checkId() {
        var id = inputBoxes[0].value
        var warning = warnings[0]
        if (id) {
            var check = function () {
                var xmlHttp = new XMLHttpRequest()
                xmlHttp.open('get', '/account/check?userid=' + id, true)
                xmlHttp.send()
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                        if (xmlHttp.responseText == 'exist') {
                            warning.className = 'warning'
                            warning.innerHTML = 'Already been taken'
                        } else {
                            warning.className = 'pass'
                            warning.innerHTML = 'pass'
                        }
                    }
                }
            }
            clearTimeout(timeout)
            timeout = setTimeout(check, 1000)
        } else {
            clearTimeout(timeout)
            warning.className = 'warning'
            warning.innerHTML = 'It should not be null'
        }
        interval = setInterval(enableButton, 250)
    }
    function enableButton() {
        var button = document.getElementsByTagName('input')[4]
        for (i = 0; i < 4; i++) {
            if (warnings[i].innerHTML != 'pass') {
                button.disabled = true
                return
            }
        }
        clearInterval(interval)
        button.disabled = false
    }

</script>

</html>